@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --brown: #351c19;
  --beige: #e0d0c1;
  --light-beige: #ece4de;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--light-beige);
    margin: 0px;
}

.main {
	margin: 8px;
}

.hidden {
    display: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--brown);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/*-----------   NAVBAR    -----------*/

.div-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 1rem;
    background: var(--beige);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    font-weight: 500;
}

.nav-left,
.nav-right {
    display: flex;
    justify-content: center;
    gap: 10rem;
    list-style: none;
    padding: 0rem;
}

.nav-left a,
.nav-right a {
    text-decoration: none;
    color: var(--brown);
}

.user-greeting{
    position: relative;
    display: inline-block;
    text-align: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: var(--beige);
    left: 50%;
    transform: translateX(-50%);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
}

.dropdown-menu a, span {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: var(--brown);
}

.dropdown-menu a, span:hover {
    background-color: var(--light-beige);
    border-radius: 5px;
}

.user-greeting:hover .dropdown-menu {
    display: block;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    height: 60px;
    width: auto;
}


/*-----------   Insta logo    -----------*/

.instagram-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.instagram-fixed img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.instagram-fixed img:hover {
    transform: scale(1.1);
    opacity: 0.85;
}

/*-----------   Index    -----------*/

.intro {
    margin-top: 1rem;
    padding: 1rem;
}

.presta {
    background: var(--beige);
    color: var(--brown);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    margin-top: 1rem;
    padding: 1rem;

}

.presta-lines {
    display: grid;
    grid-template-lines: 1fr 1fr;
    align-items: center;
    padding: 1rem;
    align-items: center;
    border-radius: 5px;
    border: 2px solid var(--brown);
}

.presta-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 1rem;
}

.presta-columns > div {
    padding: 1.5rem;
    text-align: center;
}

.presta-columns  > div:not(:last-child) {
    border-right: 2px solid var(--brown);
}

.presta-sourcil {
    text-align: center;
    border-radius: 5px;
    border: 2px solid var(--brown);
}

/*-----------   Prestations    -----------*/

.prestations-section h2{
    color: var(--brown);
}

#prestations-list {
    max-height: 340px;
    padding: 0.2rem;
    overflow-y: auto;
}

.prestation-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
    padding: 0.3rem;
    background: var(--beige);
    color: var(--brown);
    margin-bottom: 10px;
    border: 2px solid #351c19;
    border-radius: 5px;
    cursor: pointer;
}

.prestation-item > div {
    flex: 1;
}

.prestation-item input[type="checkbox"] {
    margin-right: 10px;
    accent-color: var(--brown);
    transform: scale(1.2);
}

.prestation-item:hover {
    background: rgba(0, 0, 0, 0.05);
}

.prestation-price,
.prestation-item input[type="checkbox"]:checked + div {
    font-weight: bold;
}

/*-----------   Calendrier    -----------*/

.calendar {
    max-width: 350px;
    margin: 2rem auto;
    color: var(--brown);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.calendar-header button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--brown);
}

.calendar-days,
#calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar-days div {
    font-weight: 600;
    padding: 0.5rem 0;
}

.day {
    padding: 0.8rem;
    border-radius: 8px;
    cursor: pointer;
}

.day:hover {
    background: var(--beige);
}

.day.today {
    border: 2px solid #1e293b;
}

.day.selected {
    background: var(--brown);
    color: var(--light-beige);
}

.day.past,
.day.sunday {
    background: #f1f5f9;
    color: #9ca3af;
    cursor: not-allowed;
    pointer-events: none;
}

/*-----------   Time slots    -----------*/

.time-slots {
    max-width: 350px;
    margin: 2rem auto;
    padding: 10px;
    border-radius: 8px;
    background: var(--beige);
    color: var(--brown);
}

#slots {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 5px;
}

.slot {
    padding: 0.6rem;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
    background: var(--light-beige);
}

.slot:hover {
    background: var(--beige);
}

.slot.selected {
    background: var(--brown);
    color: var(--light-beige);
}

.button-section {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.button-resa {
    padding: 0.6rem;
    text-align: center;
    border: 2px solid var(--brown);
    border-radius: 8px;
    background: var(--brown);
    color: var(--light-beige);
    cursor: pointer;
    font-size: 0.9rem;
}

.button-resa:hover {
    background: var(--beige);
    border: 2px solid var(--beige);
    color: var(--brown);
}

/*-----------   Login/Register   -----------*/

.login {
  display: flex;
  justify-content: center;
}

.login-container {
    width: 100%;
    max-width: 350px;
    margin-top: 10rem;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    background: var(--beige);

}

.login-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--brown);
}

.login-container input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: var(--brown);
  color: var(--light-beige);
}

.login-container button:hover {
    opacity: 0.9;
}

.button-register{
    margin-top: 1rem;
    text-align: center;
}

.button-register a{
    color: var(--brown);
}

#error {
  margin-top: 1rem;
  color: red;
  text-align: center;
}

/*-----------   Client   -----------*/

.client-info{
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    color: var(--brown);
}

.historique-rdv-section{
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    background: var(--beige);
    color: var(--brown);
}

.historique-rdv {
    max-height: 400px;
    overflow: hidden;
}

#reservations-table {
    width: 100%;
    border-collapse: collapse;
}

#reservations-table th, #reservations-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#reservations-table thead {
    position: sticky;
    font-weight: bold;
    background-color: var(--brown);
    color: var(--light-beige);
}

#reservations-table tr{
    display: table;
    table-layout: fixed;
    width: 100%;
}

#reservations-table tr:nth-child(even) {
    background-color: var(--beige);
}

#reservations-list {
    display: block;
    max-height: 350px;
    overflow-y: auto;
}

.actions button {
    margin-right: 5px;
    padding: 6px 12px;
    border-radius: 5px;
    border: 2px solid var(--brown);
    cursor: pointer;
    background-color: var(--brown);
    color: var(--light-beige);
}

.actions button:hover {
    background-color: var(--light-beige);
    color: var(--brown);
}

/*-----------   Admin   -----------*/

.agenda-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--beige);
}

.agenda-container h3{
    text-align: center;
}

.agenda {
    display: flex;
    position: relative;
    height: 800px;
    margin-top: 20px;
}

.time-scale {
    position: absolute;
    left: 0;
    width: 50px;
    height: 100%;
    border-right: 1px solid #ddd;
}

.time-marker {
    position: absolute;
    width: 100%;
    padding-right: 10px;
    transform: translateY(-50%);
    text-align: center;
    font-size: 12px;
    color: var(--brown);
}

.appointments-container {
    position: relative;
    flex: 1;
    margin-left: 50px;
    border-radius: 5px;
}

.appointment {
    position: absolute;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    cursor: pointer;
    background-color: var(--brown);
    color: var(--light-beige);
    z-index: 1;
}

.time-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
}

/* Tablettes */
@media (max-width: 1024px) {
.nav-left,
.nav-right {
gap: 3rem;
}

.logo img {
height: 50px;
}
}


/* Mobiles */
@media (max-width: 768px) {
.navbar {
grid-template-columns: 1fr;
row-gap: 1rem;
text-align: center;
}

.nav-left,
.nav-right {
justify-content: center;
gap: 2rem;
flex-wrap: wrap;
}

.logo {
order: -1;
}

.presta-columns {
grid-template-columns: 1fr;
}

.presta-columns > div:not(:last-child) {
border-right: none;
border-bottom: 2px solid var(--brown);
}

.presta-resa-lines {
max-height: 340px;
}

.presta-resa-columns {
grid-template-columns: 1fr;
}

.calendar,
.time-slots {
max-width: 95%;
}

#slots {
grid-template-columns: repeat(2, 1fr);
}
}


/* Très petits écrans */
@media (max-width: 480px) {
h1 {
font-size: 0.9rem;
}


.logo img {
height: 45px;
}


#slots {
grid-template-columns: 1fr;
}
}